//Variables
$font_color_1 :rgba(211, 78, 60, 0.651);
$round_border_size_1: 1rem;


//Classes
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rounded-left {
    border-top-left-radius: $round_border_size_1!important;
    border-bottom-left-radius: $round_border_size_1!important;
}

.rounded-right {
    border-top-right-radius: $round_border_size_1!important;
    border-bottom-right-radius: $round_border_size_1!important;
}

//Elements Style
#btn_home {
    margin: auto;
    margin-top: 0px;

    color: $font_color_1;

    @media (max-width: 576px){
        margin-bottom: 10px;
    }
}

footer {
    width: 100%;
    text-align: center;
    margin: 20px;
    color: $font_color_1 !important;

    a {
        color: $font_color_1;
    }

    a:hover {
        color: $font_color_1;
    }
}

footer:hover{
    text-decoration-style: dotted;
    text-decoration-line: underline;
    cursor: pointer;
}

