@use 'main';

//Variables
$font_color_1 :rgba(211, 78, 60, 0.651);

//Classes
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@mixin fa-xs(){
    font-size: .75em;
}

//Elements Style
#btn_home {
    margin: auto;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;

    color: $font_color_1;

    text-align: center;

    @media (max-width: 576px){
        margin-bottom: 10px;
    }
    @media (max-width: 768px){
        @include fa-xs();
    }
}

footer {
    width: 100%;
    text-align: center;
    margin: 20px;
    color: $font_color_1 !important;

    a {
        color: $font_color_1;
    }

    a:hover {
        color: $font_color_1;
    }
}

footer:hover{
    text-decoration-style: dotted;
    text-decoration-line: underline;
    cursor: pointer;
}

