@use '../main';

$font_color_1 :rgba(211, 78, 60, 0.651);

//Elements Style
@media (max-width: 576px) {
    .menu {
        div {
            @include main.rounded-left-custom();
            @include main.rounded-right-custom();
        }
    }
}

%item {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $font_color_1;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.menu {
    div {
        @extend %item;
        background-color: rgba(51, 166, 201, 0.342); 
        border:blue 1px dotted;

        a {
            color: $font_color_1;
        }
    }
}

.row {
    margin: 5px;
}


%bold {
    font-weight: bold;
}

span {
    @extend %bold;
}

.funny {
    @extend %bold;
    font-style: oblique;
    color: $font_color_1;
}

#img_dogs {
    height: 400px;
}

.alert{
    p {
        text-align: center;
    }
}