$font1-color :rgba(211, 78, 60, 0.651);

%item {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $font1-color;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

%bold {
    font-weight: bold;
}


.menu {
    div {
        @extend %item;
        background-color: rgba(51, 166, 201, 0.342); 
        border:blue 1px dotted;

        a {
            color: $font1-color;
        }
    }
}

.row {
    margin: 5px;
}

span {
    @extend %bold;
}

.funny {
    @extend %bold;
    font-style: oblique;
    color: orangered;
}

#img_dogs {
    height: 200px;
}